<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 목록</title>
</head>
<main layout:fragment="main">
    <h1>게시물 목록</h1>
    <form th:action="@{/article/posts/search}" method="GET" class="form-inline p-2 bd-highlight" role="search">
        <input type="text" name="keyword" class="form-control" id="search" placeholder="검색">
        <button class="btn btn-success bi bi-search"> 검색 </button>
    </form>
    <ul>
        <li th:each="article : ${articles}">
            [[${article.id}]] / <a th:href="@{detail(id=${article.id})}">[[${article.title}]]</a> /
            [[${article.regDate}]]
        </li>
    </ul>
</main>
</html>